<!doctype html>
<html>
<head>
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta charset=utf-8>

<title>MobRank</title>
</head>
<body>
<div id="app">
<v-app>
  <div>
      <v-app-bar
        color="deep-purple accent-4"
        dark
      >

        <v-toolbar-title>MobRank #{{sessionId}}</v-toolbar-title>

        <v-spacer></v-spacer>



      </v-app-bar>
    </div>


                  <v-content>

                    <v-row justify="center">
                            <v-dialog v-model="dialog" persistent max-width="600px">
                              <v-card>
                                <v-card-title>
                                  <span class="headline">Join or create session</span>
                                </v-card-title>
                                <v-card-text>
                                  <v-container>
                                    <v-row>
                                      <v-col cols="12">
                                        <v-text-field v-model="sessionIdInput" label="Session ID" required></v-text-field>
                                      </v-col>
                                    </v-row>
                                  </v-container>
                                </v-card-text>
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn color="blue darken-1" text @click="dialog = false;join(false)" :disabled="sessionIdInput == ''">Join</v-btn>
                                  <v-btn color="blue darken-1" text @click="dialog = false;join(true)">Create</v-btn>
                                </v-card-actions>
                              </v-card>
                            </v-dialog>
                          </v-row>


                </v-content>
</v-app>
</div>
<script src="youandi.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
              <script>
                var yai = new YouAndI('MobRank');
                var app = new Vue({
                  el: '#app',
                  vuetify: new Vuetify(),
                  data : {
                    sessionIdInput : '',
                    dialog : !yai.hasSession(),
                    sessionId : yai.getSessionId(),
                  },
                  methods: {
                    join: function (create) {
                      this.sessionId = yai.setSessionId(create ? yai.uuid() : this.sessionIdInput);
                    }
                  }
                })
</script>
</body>
</html>
