<!doctype html>
<html>
<head>
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta charset=utf-8>

<title>MobRank</title>
</head>
<body>
<div id="app">
<v-app>
  <div>
      <v-app-bar
        color="deep-purple accent-4"
        dark
      >

        <v-toolbar-title>MobRank #{{sessionId}}</v-toolbar-title>

        <v-spacer></v-spacer>
        <v-chip :color="connected ? 'green' : 'grey'">Connected</v-chip>

        <v-menu
        left
        bottom
      >
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item
            v-for="n in pages"
            :key="n"
            @click="(e) => {navigate(e);}"
          >
            <v-list-item-title>{{ n }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      </v-app-bar>
    </div>


                  <v-content>

                    <v-row justify="center">
                            <v-dialog v-model="dialog" persistent max-width="600px">
                              <v-card>
                                <v-card-title>
                                  <span class="headline">Join or create session</span>
                                </v-card-title>
                                <v-card-text>
                                  <v-container>
                                    <v-row>
                                      <v-col cols="12">
                                        <v-text-field v-model="sessionIdInput" label="Session ID" required></v-text-field>
                                      </v-col>
                                    </v-row>
                                  </v-container>
                                </v-card-text>
                                <v-card-actions>
                                  <v-spacer></v-spacer>
                                  <v-btn color="blue darken-1" text @click="dialog = false;join(false)" :disabled="sessionIdInput == ''">Join</v-btn>
                                  <v-btn color="blue darken-1" text @click="dialog = false;join(true)">Create</v-btn>
                                </v-card-actions>
                              </v-card>
                            </v-dialog>
                          </v-row>

                <div v-if="page =='Home'">
                  <v-text-field v-model="messageInput" label="Message"></v-text-field>
                  <v-btn color="blue darken-1" text @click="send()">send</v-btn>
                </div>
                <div v-if="page =='Cluster'">
                  <pre>{{lastMessage}}</pre>
                  <br/>
                  <pre>{{yaiID}} : {{isLeader}}</pre>
                  <pre>{{clusterState}}</pre>
                </div>
                </v-content>
</v-app>
</div>
<script src="youandi.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
              <script>
                var yai = new YouAndI('MobRank');
                var app = new Vue({
                  el: '#app',
                  vuetify: new Vuetify(),
                  data : {
                    sessionIdInput : '',
                    dialog : !yai.hasSession(),
                    sessionId : yai.getSessionId(),
                    connected : false,
                    lastMessage : '',
                    clusterState : null,
                    isLeader : false,
                    messageInput : '',
                    yaiID : yai.createdAt,
                    pages : ['Home' , 'Cluster'],
                    page : 'Home' ,
                  },
                  methods: {
                    join: function (create) {
                      this.sessionId = yai.setSessionId(create ? yai.uuid() : this.sessionIdInput);
                      yai.connect();
                    },
                    navigate: function (e) {
                      this.page = e.target.innerText;
                    },
                    syncState: function (create) {
                      this.clusterState = yai.clusterState;
                      this.isLeader = yai.isLeader;
                    },
                    send: function () {
                      yai.send(this.messageInput);
                    },
                  }
                });
                yai .addListener("clusterChange" , app.syncState)
                    .addListener("onboard" , function(yai) {
                      yai.send(app.lastMessage);
                    })
                    .addListener("connect" , function(yai) {
                      app.connected = true;
                    })
                    .addListener("message" , function(yai) {
                      app.lastMessage = data;
                    })
                    .addListener("disconnect" , function(yai) {
                      app.connected = false;
                    })
                    .connect();

</script>
</body>
</html>
